.content{
    font-family: 'Montserrat', sans-serif;
}
h2{
    margin-top: 0px;
}
.finalb{
    
    float: right;
}
.subtitulo{
    font-size: 26px;
}
table {
    width: 100%;
    margin-top: 30px;
  }
  mat-form-field{
    max-width: 500px;
    width: 100%;
  }