@import '../../../themes.scss';
.content{
  font-family: 'Montserrat', sans-serif !important;
}
h2{
  margin-top: 0px;
}
.finalb{

  float: right;
}
.subtitulo{
  font-size: 22px;
}
table {
  border: 1px solid black;
}
.tabla-asistencia{
  margin: 0;
  padding: 0px;
  border: none;
  background-color: #1B1B38;
  margin-bottom: 16px !important;
}
.asistencia{
  background-color: #1B1B38;
  border-radius: 1px;
  border: none;
  color: white;
  width: 20px;
  margin: 0px;
  padding: 0px;
  border-radius:0px;
}
.atraso{
  border: 1px solid #FFAA00;
  //color: yellow;
}

.licencia{
  border: 1px solid #0095FF;
  //color: blue;
}

.falta{
  border: 1px solid #FF3D71;
  //color: red;
}

.presente{
  border: 1px solid #00D68F;
  //color: green;
}

.nueva{
  border: 1px solid #7F58C6;
}

table {
  width: 100%;
}
mat-form-field{
  max-width: 700px;
  width: 100%;
}
.le{
  display: inline-block;
}
.casilla{
  width: 16px;
  padding: 0px;
  

}
h4,h5{
  margin-top: 0px;
  margin-bottom: 15px;
}
td{
  margin-bottom: 16px;
}
