<div class="content">
  <div style="text-align: left;"> 
    <h4 class="le">{{curso.nombre}} | </h4>
    <h5 class="le">{{curso.grado}} '{{curso.paralelo}}' {{curso.nivel}}</h5>
  </div>

  <h6 style="margin-top: 0px; margin-bottom: 16px; font-weight: 400;">Rango de fechas</h6>
  <div style="text-align: left;">
      <input class="le" nbInput [nbDatepicker]="rangepicker" [(ngModel)]="rango" >
      <nb-rangepicker #rangepicker ></nb-rangepicker>
      <button class="le" nbButton outline status="primary" style="margin-left: 20px;" (click)="rangoFechas()">Aplicar</button>
  </div>
  
  <h6 style="margin-top: 26px; margin-bottom: 16px; font-weight: 400;">Asistencia de Hoy</h6>
  <button  nbButton outline status="success"  (click)="asistenciaHoy($event.target)">Tomar Asistencia</button>

  <h6 style="margin-top: 26px; margin-bottom: 16px; font-weight: 400;">Tabla de Asistencia</h6>

  <table class="mat-elevation-z2" >
      <tr>
        <th rowspan="2"><span>Estudiantes</span></th>
        <th *ngFor="let mes of displayedColumns"  [attr.colspan]="mes.nFechas" ><span>{{mes.mes}}</span></th>
        <th *ngFor="let mes of mesTomarAsistencia"  ><span *ngIf="tomarAsistencia">{{mes}}</span></th>
      </tr>
      <tr>
        <th *ngFor="let fecha of asistencias.fechas.fechas" style="width: 30px; text-align: center;" ><span>{{fecha.dia}}</span></th>
      </tr>
      <tr *ngFor="let asistencia of asistencias.estudiantes" style="margin-bottom: 10px;">
        <td>{{asistencia.Estudiante}}</td>
        <td *ngFor="let fechas of asistencia.asistencias.asistencia" class="tabla-asistencia" [ngSwitch]="fechas.estado" >
            <!-- <input  type="text" *ngSwitchCase="1" nbInput status="success" placeholder="P" value="P"
                    fieldSize="tiny" class="casilla"
                    maxlength="1" onclick="this.value=''"
                    oninput="this.value = this.value.toUpperCase()"
                    (input)="cambio(fechas.idAsistencia, $event.target.value, $event.target)"
                    (click)="inputAsistencia($event.target,  'P')"
                    (focusout)="reasignarAntiguo($event.target)"> -->
            <input value="P" class="asistencia presente"
                   *ngSwitchCase="1" type="text" maxlength="1" onclick="this.value=''"
                   oninput="this.value = this.value.toUpperCase()"
                   (input)="cambio(fechas.idAsistencia, $event.target.value, $event.target)"
                   (click)="inputAsistencia($event.target,  'P')"
                   (focusout)="reasignarAntiguo($event.target)">
            <input value="F" class="asistencia falta"
                   *ngSwitchCase="2" type="text" maxlength="1"  onclick="this.value=''"
                   oninput="this.value = this.value.toUpperCase()"
                   (input)="cambio(fechas.idAsistencia, $event.target.value, $event.target)"
                   (click)="inputAsistencia($event.target, 'F')"
                   (focusout)="reasignarAntiguo($event.target)">
            <input value="L" class="asistencia licencia"
                   *ngSwitchCase="3" type="text" maxlength="1"  onclick="this.value=''"
                   oninput="this.value = this.value.toUpperCase()"
                   (input)="cambio(fechas.idAsistencia, $event.target.value, $event.target)"
                   (click)="inputAsistencia($event.target, 'L')"
                   (focusout)="reasignarAntiguo($event.target)">
            <input value="A" class="asistencia atraso"
                   *ngSwitchCase="4" type="text" maxlength="1"  onclick="this.value=''"
                   oninput="this.value = this.value.toUpperCase()"
                   (input)="cambio(fechas.idAsistencia, $event.target.value, $event.target)"
                   (click)="inputAsistencia($event.target, 'A')"
                   (focusout)="reasignarAntiguo($event.target)">
            <input *ngSwitchDefault type="text" class="asistencia nueva" maxlength="1"
                    onclick="this.value=''" oninput="this.value = this.value.toUpperCase()"
                   (input)="cambio(fechas.idAsistencia, $event.target.value, $event.target)"
                   (click)="inputAsistencia($event.target)"
                   (focusout)="reasignarAntiguo($event.target)">
        </td>
      </tr>
  
  
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>






