<div class="mont" >
    <h4 style="margin-top: 0px; margin-bottom: 0px;">Agregar Materia</h4>
<mat-dialog-content >
  <p>Seleccione el periodo</p>
  <nb-select [(ngModel)]="data.idPeriodo" fullWidth placeholder="Periodos" status="primary">
    <nb-option *ngFor="let periodo of data.periodos" value='{{periodo.idPeriodo}}' >{{periodo.horaInicio}} - {{periodo.horaFin}}</nb-option>
  </nb-select>
  <p>Seleccione la materia</p>
  <nb-select [(ngModel)]="data.idMateria" fullWidth placeholder="Materias" status="info" style="margin-bottom: 20px;">
    <nb-option  *ngFor="let materia of data.materias" value='{{materia.idMateria}}' >{{materia.nombre}}</nb-option>
  </nb-select>
</mat-dialog-content>
<mat-dialog-actions class="ful " style="margin-top: 10px;">
    <button nbButton outline status="danger" class=" le" style="float: right; margin-left: 200px;" class="botones" (click)="onNoClick()">Cancelar</button>
    <button nbButton outline status="success" class="le" style="float: right; margin-left: 20px;" class="botones" [mat-dialog-close]="data">Aceptar</button>
    
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>

