<div class="mont " > 
    <h4 >Nuevo Curso</h4>
<mat-dialog-content>
  <p>Ingrese el Grado</p>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.grado" placeholder="Grado">
  <p>Ingrese el Nivel</p>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.nivel" placeholder="Nivel">
  <p>Ingrese el Paralelo</p>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.paralelo" placeholder="Paralelo">
  
  
</mat-dialog-content>
<mat-dialog-actions class="ful ">
    <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
    <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->
    
</mat-dialog-actions>
</div>
