<div class="content " > 
  <h3 status="danger" style="margin-top: 0px;">Detalles Colegio</h3>
  <nb-card accent="primary">
    <nb-card-header>
      <div >
          <span class="subtitulo mont">{{Coles.nombreColegio}}</span>
          <button nbButton outline status="success" style="float: right;width: 10%;" class="finalb" (click)="volver()"><nb-icon icon="arrow-back-outline"></nb-icon>Atrás</button>
      </div>  
      
    </nb-card-header>
    <nb-card-body>
        <!-- <h5>Nombre Colegio</h5>
        <label   >{{Coles.nombreColegio}}</label> -->
        <h6 style="margin-top: 0px; margin-bottom: 10px;">Estado</h6>
        <nb-card status="success" class="estado" *ngIf="Coles.estadoColegio=='Habilitado'">
          <nb-card-header><h6>{{Coles.estadoColegio}}</h6></nb-card-header>
          
        </nb-card>
        <nb-card status="danger" class="estado" *ngIf="Coles.estadoColegio=='InHabilitado'">
          <nb-card-header><h5>{{Coles.estadoColegio}}</h5></nb-card-header>
          
        </nb-card>
        <!-- <label *ngIf="Coles.estadoColegio=='Habilitado'"  style="color:#00D68F"   >{{Coles.estadoColegio}}</label>
        <label *ngIf="Coles.estadoColegio=='InHabilitado'"  style="color:#FF3D71" >{{Coles.estadoColegio}}</label> -->
        <h5>Datos Director</h5>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z2 tabla" matSort>
  
          <ng-container matColumnDef="Nombre Completo">
            <th mat-header-cell *matHeaderCellDef >Nombre Completo</th>
            <td mat-cell *matCellDef="let row"> {{row.nombreCompleto}} </td>
          </ng-container>
  
  
          <ng-container matColumnDef="Ci">
            <th mat-header-cell *matHeaderCellDef>CI</th>
            <td mat-cell *matCellDef="let row"> {{row.ci}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef> Telefono</th>
            <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
          </ng-container>
  
           <ng-container matColumnDef="Nombre Usuario">
              <th mat-header-cell *matHeaderCellDef>Nombre Usuario</th>
              <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
            </ng-container> 
  
          
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
     
          
    </nb-card-body>
    
  </nb-card>
  
  

    
    </div>
    
