.content{
    font-family: 'Montserrat', sans-serif;
  }
  .finalb{

    float: right;
  }
.ful{
    width: 100%;
    display: inline-block; 
}
.der{
    text-align: right;
}
.block {
    width: auto;
    display: inline-block; 
}
.contenido{
    background: black; 
}
.subtitulo{
    font-size: 22px;
  }
.campo{
    width: 100%;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.entrada{
    margin-bottom: 25px;
}
.botones{
    margin-left: 15px;
    float: right;
}
.estado{
    max-width: 300px;
    border-radius: 5px;
}
.tabla{
    width: 100%;
    max-width: 1000px;
}
.linea{
    display: inline;
}