<div class="mont " >
  <h4 *ngIf="nuevo" style="margin-top: 0px; margin-bottom: 20px;">Datos Administrador</h4>
  <h4 *ngIf="!nuevo"  style="margin-top: 0px; margin-bottom: 20px;">Datos Administrador</h4>
<mat-dialog-content>
<!-- <p>Datos del Administrador</p> -->
<input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.nombres" placeholder="Nombres"  style="margin-top: 8px; ">
<input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.primerApellido" placeholder="Primer Apellido">
<input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.segundoApellido" placeholder="Segundo Apellido">
<input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.ci" placeholder="CI">
<input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.telefono" placeholder="Teléfono">

</mat-dialog-content>
<mat-dialog-actions class="ful ">
  <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
  <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
  <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
  <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>
