<div class="mont" >
        <h3 >Comunicado</h3>
    <mat-dialog-content>
        <h5>{{data.titulo}}</h5>
      
      
      <textarea nbInput fullWidth placeholder="Textarea" readonly  [(ngModel)]="data.mensaje" ></textarea>
      <p>{{data.tipo}}</p>
     
      
     
    </mat-dialog-content>
    <mat-dialog-actions class="ful ">
       
        <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cerrar</button>
        <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
        <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->
    
    </mat-dialog-actions>
    </div>
    