<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    
    <nb-card class="mont" accent="primary">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Periodos</span>
                <!-- <button class="finalb" routerLink="nuevocole" nbButton outline status="success" (click)="openDialog()">Nuevo Colegio</button> -->

            </div>

        </nb-card-header>
        <nb-card-body >
            
            <div class="row show-grid">
                    <div class="col-6 in" >
                            <div class="custom-theme-example">
                                <input placeholder="Hora Inicio" [(ngModel)]="horaInicio" nbInput fullWidth status="primary"
                                    [ngxTimepicker]="darkPicker" [format]="24"  readonly>
                                <ngx-material-timepicker #darkPicker [theme]="darkTheme"></ngx-material-timepicker>

                            </div>
                            <div class="custom-theme-example">
                                <input placeholder="Hora Fin" [(ngModel)]="horaFin" nbInput fullWidth status="primary"
                                    [ngxTimepicker]="darkPickerFin" [format]="24" [min]="horaInicio"   readonly>
                                <ngx-material-timepicker #darkPickerFin [theme]="darkTheme"></ngx-material-timepicker>

                            </div>
                            <button  nbButton outline status="success" (click)="addPeriodo ()">Agregar Periodo</button>
                            <!-- <button  nbButton outline status="warning" routerLink="/cursoHorario" routerLinkActive="active">Horario</button> -->
                        </div>
                        <h5>Periodos:</h5>
                        <mat-nav-list *ngIf="periodos?.length > 0" >
                            <mat-list-item *ngFor="let periodo of periodos">
                                <h4 mat-line><b>{{periodo.HoraInicio}} - {{periodo.HoraFin}} </b></h4>
                                <p mat-line>Periodo</p>
                                <!-- <p mat-line *ngIf="investigador.Estado==2" ><span class="badge badge-warning">Sin Tareas Asignadas</span></p> -->
                                <button nbButton ghost status="danger" (click)="removerPeriodo(periodo.IdPeriodo)"  nbTooltip="Eliminar Periodo" nbTooltipStatus="control" ><nb-icon icon="close"></nb-icon></button>
                                
                            </mat-list-item>
                        </mat-nav-list>
                          <h5>Semana:</h5>
                <div class="col-12 ta">
                    <div>
                        <table>
                            <thead>
                                <tr>
                                    <th class="hora">Hora</th>
                                    <th class="dia_cabecera">Lunes</th>
                                    <th class="dia_cabecera">Martes</th>
                                    <th class="dia_cabecera">Miércoles</th>
                                    <th class="dia_cabecera">Jueves</th>
                                    <th class="dia_cabecera">Viernes</th>
                                    <th class="dia_cabecera">Sábado</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let periodo of periodos">
                                        <td>{{periodo.HoraInicio}} - {{periodo.HoraFin}}</td>
                                        <td [style.backgroundColor]="periodo.Color" ></td>
                                        <td [style.backgroundColor]="periodo.Color"></td>
                                        <td [style.backgroundColor]="periodo.Color"></td>
                                        <td [style.backgroundColor]="periodo.Color"></td>
                                        <td [style.backgroundColor]="periodo.Color"></td>
                                        <td [style.backgroundColor]="periodo.Color"></td>
                                </tr>

                            </tbody>
                        </table>

                    </div>

                </div>

            </div>


        </nb-card-body>
    </nb-card>
</div>
