<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    <h2>Reportes</h2>
    <nb-card accent="primary">
      <nb-card-header><h6>Reportes Permitidos</h6> </nb-card-header>
      <nb-list>
        <nb-list-item *ngIf="rol==2 || rol==3 || rol==6">
          <span>Asistencia de los Estudiantes de un Curso</span>
          <button nbButton outline status="success" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="grid"></nb-icon>Excel</button>
          <button nbButton outline status="danger" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="file-text-outline"></nb-icon>PDF</button>
          
        </nb-list-item>
        <nb-list-item *ngIf="rol==2 || rol==3">
          <span>Porcentaje de asistencias</span>
          <button nbButton outline status="success" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="grid"></nb-icon>Excel</button>
          <button nbButton outline status="danger" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="file-text-outline"></nb-icon>PDF</button>
        </nb-list-item>

        <!-- <nb-list-item *ngIf="rol==2 || rol==3">
          <span>Porcentaje de estudiantes reprobados y aprobados por curso</span>
          <button>EXCEL</button>
          <button>PDF</button>
        </nb-list-item> -->
          <nb-list-item *ngIf="rol==2 || rol==3">
          <span>Horarios por curso</span>
          <button nbButton outline status="success" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="grid"></nb-icon>Excel</button>
          <button nbButton outline status="danger" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="file-text-outline"></nb-icon>PDF</button>
        </nb-list-item>
        <nb-list-item *ngIf="rol==2 || rol==3">
          <span>Horarios de profesor</span>
          <button nbButton outline status="success" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="grid"></nb-icon>Excel</button>
          <button nbButton outline status="danger" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="file-text-outline"></nb-icon>PDF</button>
        </nb-list-item>
        <nb-list-item *ngIf="rol==2 || rol==3">
          <span>Libreta de notas de un estudiante</span>
          <button nbButton outline status="success" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="grid"></nb-icon>Excel</button>
          <button nbButton outline status="danger" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="file-text-outline"></nb-icon>PDF</button>
        </nb-list-item>
        <nb-list-item *ngIf="rol==2 || rol==3 || rol==6">
          <span>Notas de estudiantes por curso</span>
          <button nbButton outline status="success" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="grid"></nb-icon>Excel</button>
          <button nbButton outline status="danger" shape="semi-round" style="margin-left: 20px;"><nb-icon icon="file-text-outline"></nb-icon>PDF</button>
        </nb-list-item>
      </nb-list>
    </nb-card>
</div>

