<div class="content">
  <nb-card class="mont" accent="success">
      <nb-card-header>
          <div>
            <span class="subtitulo mont">Usuarios</span>
              <button class="finalb" routerLink="nuevoAdmin" nbButton outline status="success" (click)="openDialog()">Nuevo Usuario</button>
          </div>

      </nb-card-header>
          <nb-card-body class="example-items-col">
            <div class="row show-grid">
              <div class="col-md-4">
                <nb-select [(ngModel)]="rolSeleccion" (selectedChange)="Buscar(busqueda)" placeholder="Escoger Rol" status="primary">
                  <nb-option *ngFor="let rol of roles"  value='{{rol.IdRol}}' >{{rol.Rol}}</nb-option>
                </nb-select>
                <mat-form-field>
                    <input matInput (input)="Buscar($event.target.value)" placeholder="Busqueda:">
                  </mat-form-field>
              </div>
              <div class="col-md-4">
                  
                
                <!-- <mat-select class="campo entrada" nbInput fullWidth status="primary" (selectionChange)="Buscar(busqueda)" [(ngModel)]="rolSeleccion"  placeholder="Rol">
                    <mat-option *ngFor="let rol of roles" [value]="rol.IdRol">
                      {{rol.Rol}}
                    </mat-option>
                  </mat-select> -->
              </div>
            </div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>


                  <ng-container matColumnDef="nombreUsuario">
                    <th mat-header-cell *matHeaderCellDef >Usuario</th>
                    <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef >Nombre</th>
                    <td mat-cell *matCellDef="let row"> {{row.nombres}} {{row.primerApellido}} <span *ngIf="row.segundoApellido!=undefined">{{row.segundoApellido}}</span> </td>
                  </ng-container>

                  <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef >Telefono</th>
                    <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                  </ng-container>


                  <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef >Rol</th>
                    <td mat-cell *matCellDef="let row">
                      <span [ngSwitch]="row.rol">
                      <p *ngSwitchCase="2">
                        Director
                      </p>
                      <p *ngSwitchCase="3">
                        Administrativo
                      </p>
                      <p *ngSwitchCase="4">
                        Estudiantes
                      </p>
                      <p *ngSwitchCase="5">
                        Tutor
                      </p>
                      <p *ngSwitchCase="6">
                        Maestro
                      </p>
                      </span>

                    </td>
                  </ng-container>


                  <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                    <td mat-cell *matCellDef="let row">
                        <div *ngIf="row.idUsuario!=idUsuario">
                          <button nbButton ghost status="success" *ngIf="row.estado==1" (click)="Inhabilitar(row.idUsuario)" nbTooltip="Inhabilitar {{row.nombreUsuario}}?" nbTooltipStatus="danger" ><nb-icon icon="checkmark-outline"></nb-icon>Habilitado</button>
                          <button nbButton ghost status="danger" *ngIf="row.estado==0" (click)="Habilitar(row.idUsuario)" nbTooltip="Habilitar {{row.nombreUsuario}}?" nbTooltipStatus="success" ><nb-icon icon="close-outline"></nb-icon>Inhabilitado</button>
                        </div>
                        <div *ngIf="row.idUsuario==idUsuario">
                            <button nbButton ghost status="success" disabled=true  nbTooltipStatus="success" ><nb-icon icon="checkmark-circle"></nb-icon>Habilitado</button>
                          </div>
                    </td>
                  </ng-container>



                  <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef> Editar</th>
                    <td mat-cell *matCellDef="let row">
                        <button nbButton ghost status="primary" nbTooltip="Editar {{row.nombreUsuario}}" (click)="editar(row)"  nbTooltipStatus="primary" >
                          <nb-icon icon="edit-2-outline"></nb-icon>
                        </button>
                      <!-- <button nbButton ghost status="primary" nbTooltip="Editar {{row.nombreUsuario}}"
                              (click)="editar(row)"
                              nbTooltipStatus="primary" >
                        <mat-icon>edit</mat-icon>
                      </button> -->
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
          </nb-card-body>
        </nb-card>
</div>

