<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    
    <nb-card class="mont" accent="primary">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Cursos</span>
                <button class="finalb" routerLink="nuevoCurso" nbButton outline status="primary" (click)="openDialog()">Nuevo Curso</button>
            </div>

        </nb-card-header>
            <nb-card-body class="example-items-col">
         
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

                   
                    <ng-container matColumnDef="Grado">
                        <th mat-header-cell *matHeaderCellDef >Grado</th>
                        <td mat-cell *matCellDef="let row"> {{row.grado}} </td>
                      </ng-container>

                    <ng-container matColumnDef="Paralelo">
                      <th mat-header-cell *matHeaderCellDef> Paralelo</th>
                  
                        <td mat-cell *matCellDef="let row"> {{row.paralelo}} </td>
                     
                    </ng-container>
                  
                      <ng-container matColumnDef="Nivel">
                        <th mat-header-cell *matHeaderCellDef >Nivel</th>
                        <td mat-cell *matCellDef="let row"> {{row.nivel}} </td>
                      </ng-container>
  
                    <ng-container matColumnDef="Eliminar">
                      <th mat-header-cell *matHeaderCellDef> Eliminar</th>
                      <td mat-cell *matCellDef="let row">
                        
                          <!--<button nbButton ghost status="success" *ngIf="row.estado==1" (click)="CambioEstado(row.idColegio,row.estado)" nbTooltip="Desea Inhabilitar?" nbTooltipStatus="success" ><nb-icon icon="checkmark-circle"></nb-icon>Habilitado</button>                        -->
                          <button nbButton ghost status="danger"  (click)="eliminarCurso(row.idCurso)" nbTooltip="Eliminar Curso" nbTooltipStatus="basic" ><nb-icon icon="close-outline"></nb-icon></button>                        
                      </td>
                    </ng-container>

                     <ng-container matColumnDef="Editar">
                        <th mat-header-cell *matHeaderCellDef> Editar</th>
                        <td mat-cell *matCellDef="let row">
                          
                          
                          <button routerLink="editarCurso"  (click)="OpenDialogEditarCurso(row.idCurso,row)" nbButton ghost status="success" nbTooltip="Editar Curso" 
                          nbTooltipStatus="basic" >
                            <nb-icon icon="edit-2-outline"></nb-icon>
                          </button>
                        </td>
                      </ng-container> 

                

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </nb-card-body>
          </nb-card>
</div>

