<div class="content">
  <!-- <span>admin-inicio prueba</span> -->
  <h2 style="margin-top: 0px; margin-bottom: 20px;">Asistencia</h2>
  <nb-card class="mont" accent="success">
      <nb-card-header>
          <div>
            <span class="subtitulo mont le">Materias Asignadas</span>
              <!-- <button class="finalb" routerLink="nuevocole" nbButton outline status="success" (click)="openDialog()">Nuevo Colegio</button> -->
              <button class="le" *ngIf="curso!=undefined" nbButton ghost status="success" shape="semi-round" size="large" (click)="volverCursos()" style="padding:5px; float: right;"><nb-icon icon="arrow-back"></nb-icon>Volver a Materias</button>
          </div>

      </nb-card-header>
      <nb-card-body >
          
        <!-- <button class="curso" *ngIf="curso!=undefined" (click)="volverCursos()">
          <span>Ver Cursos</span>
        </button> -->
        <div class="cursos" *ngIf="curso==undefined">

            <table >
              <tr>
                <th >Nivel</th>
                <th >Grado</th>
                <th >Paralelo</th>
                <th >Materia</th>
                
              </tr>
            
              <tr *ngFor="let curso of cursos">
                <td>{{curso.nivel}}</td>
                <td>{{curso.grado}}</td>
                <td>{{curso.paralelo}}</td>
                <td><button nbButton ghost status="success" shape="semi-round"  (click)="seleccionCurso(curso)" nbTooltip="Asistencia {{curso.grado}}-{{curso.paralelo}}" nbTooltipStatus="control"><nb-icon icon="edit-outline"></nb-icon>{{curso.nombre}}</button></td>
                
              </tr>
            </table>
              
          <!-- <button nbButton outline status="success" *ngFor="let curso of cursos" (click)="seleccionCurso(curso)">
            <span>{{curso.grado}} "{{curso.paralelo}}" {{curso.nivel}}</span><br>
            <span>{{curso.nombre}}</span></button> -->
            <!-- <button class="curso" *ngFor="let curso of cursos" (click)="seleccionCurso(curso)">
              <span>{{curso.grado}} "{{curso.paralelo}}" {{curso.nivel}}</span><br>
              <span>{{curso.nombre}}</span>
            </button> -->

        </div>
        <app-asistencia [curso]="curso" *ngIf="curso!=undefined" [asistencias]="asistencias"  [displayedColumns]="displayedColumns"></app-asistencia>


      </nb-card-body>
  </nb-card>
</div>
