<div class="content">
  <!-- <span>admin-inicio prueba</span> -->
  
  <nb-card class="mont" accent="primary">
      <nb-card-header>
          <div>
            <span class="subtitulo mont">Usuarios</span>
              <button class="finalb" routerLink="nuevoAdmin" nbButton outline status="primary" (click)="openDialog()">Nuevo Administrador</button>
          </div>

      </nb-card-header>
          <nb-card-body class="example-items-col">
            <div class="row show-grid">
              <div class="col-6 col-sm-4">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda:">
                </mat-form-field>
              </div>
            </div>
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

                  <ng-container matColumnDef="nombreUsuario">
                    <th mat-header-cell *matHeaderCellDef >Usuario</th>
                    <td mat-cell *matCellDef="let row"> {{row.nombreUsuario}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef >Nombre</th>
                    <td mat-cell *matCellDef="let row"> {{row.nombres}} {{row.primerApellido}} <span *ngIf="row.segundoApellido!=undefined">{{row.segundoApellido}}</span> </td>
                  </ng-container>

                  <ng-container matColumnDef="telefono">
                    <th mat-header-cell *matHeaderCellDef >Telefono</th>
                    <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                  </ng-container>


                  <ng-container matColumnDef="Estado">
                    <th mat-header-cell *matHeaderCellDef> Estado</th>
                    <td mat-cell *matCellDef="let row">

                        <button nbButton ghost status="success" *ngIf="row.estado==1 && row.idUsuarioMaster != idSesion" (click)="Inhabilitar(row.idUsuarioMaster)" nbTooltip="Inhabilitar {{row.nombreUsuario}}?" nbTooltipStatus="danger" ><nb-icon icon="checkmark-outline"></nb-icon>Habilitado</button>
                        <button nbButton ghost status="danger" *ngIf="row.estado==0 && row.idUsuarioMaster != idSesion" (click)="Habilitar(row.idUsuarioMaster)" nbTooltip="Habilitar {{row.nombreUsuario}}?" nbTooltipStatus="success" ><nb-icon icon="close-outline"></nb-icon>Inhabilitado</button>
                        <button nbButton ghost status="success" disabled=true *ngIf="row.estado==1 && row.idUsuarioMaster == idSesion"  ><nb-icon icon="checkmark-circle"></nb-icon>Habilitado</button>
                    </td>
                  </ng-container>



                  <ng-container matColumnDef="Editar">
                    <th mat-header-cell *matHeaderCellDef> Editar</th>
                    <td mat-cell *matCellDef="let row">
                      <button nbButton ghost status="primary" nbTooltip="Editar {{row.nombreUsuario}}" nbTooltipStatus="primary" (click)="editar(row)">
                        <nb-icon icon="edit-2-outline"></nb-icon>
                      </button>
                      <!-- <button nbButton ghost status="primary" nbTooltip="Editar {{row.nombreUsuario}}" (click)="editar(row)"
                              nbTooltipStatus="primary" >
                        <mat-icon>edit</mat-icon>
                      </button> -->
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
          </nb-card-body>
        </nb-card>
</div>

