.content{
  font-family: 'Montserrat', sans-serif;
}
h2{
  margin-top: 0px;
}
.finalb{

  float: right;
}
.subtitulo{
  font-size: 22px;
}
table {
  width: 100%;
  margin-top: 20px;
}

mat-form-field{
  max-width: 700px;
  width: 100%;
}
