<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
   
    <div class="row">
    <nb-card class="mont" accent="primary">

            
            <nb-card-header>
                    <div>
                      <span class="subtitulo mont">Filtros de Materia por Curso</span>
                        
                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col">
                    <div class="row show-grid">
                    <div class="col-6 in">
                        <!-- <span class="subtitulo mont" style="margin-bottom: 16px;">Seleccione el nivel</span> -->
                        <h5  class="subtitulo mont" style="margin-bottom: 16px; margin-top: 0px; font-weight: 400;">Seleccione el Nivel y el Curso</h5>
                       
                        <nb-select [(ngModel)]="vNivel" (selectedChange)="selectedNivels($event)" placeholder="Niveles" status="primary">
                          <nb-option *ngFor="let nivel of Niveles"  value='{{nivel.nivel}}' >{{nivel.nivel}}</nb-option>
                        </nb-select>
                                  
                                   
                    </div>
                    <div class="col-12 in">
                        
                      <nb-select [(ngModel)]="vCurso" (selectedChange)="selectedCurso($event)" placeholder="Cursos" status="primary">
                        <nb-option *ngFor="let curso of Curso" value='{{curso.idCurso}}' >{{curso.cursos}}</nb-option>
                      </nb-select>
                                <!-- <ng-select  style="padding: 1%;background: white"  [items]="Curso"
                                           bindLabel="cursos"
                                           autofocus
                                           bindValue="idCurso"
                                           [clearable]="clear"
                                           (change)="selectedCurso($event)"
                                          >
                                </ng-select> -->
                    </div>
                </div>
                    </nb-card-body>
         
             
    </nb-card>
</div>
    <nb-card accent="success">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Materias</span>
              
                <button class="finalb" routerLink="nuevaMateria" nbButton outline status="success" (click)="openDialog()">Nueva Materia</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-col">
         
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

                   
                    <ng-container matColumnDef="Materia">
                        <th mat-header-cell *matHeaderCellDef >Materia</th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                      </ng-container>

                    <ng-container matColumnDef="Docente">
                      <th mat-header-cell *matHeaderCellDef> Docente</th>
                  
                        <td mat-cell *matCellDef="let row"> {{row.nombreProfe}} </td>
                     
                    </ng-container>
                  
                      <ng-container matColumnDef="Estado">
                        <th mat-header-cell *matHeaderCellDef >Estado</th>
                        <td mat-cell *matCellDef="let row"> 
                        
                            <button nbButton ghost status="success" *ngIf="row.estado==1" (click)="CambioEstado(row.idMateria,row.estado)" nbTooltip="Inhabilitar?" nbTooltipStatus="danger" ><nb-icon icon="checkmark-outline"></nb-icon>Habilitado</button>
                            <button nbButton ghost status="danger" *ngIf="row.estado==0" (click)="CambioEstado(row.idMateria,row.estado)" nbTooltip="Habiltar?" nbTooltipStatus="success" ><nb-icon icon="close-outline"></nb-icon>Inhabilitado</button>  
                        </td>
                      </ng-container>

                     <ng-container matColumnDef="Editar">
                        <th mat-header-cell *matHeaderCellDef> Editar</th>
                        <td mat-cell *matCellDef="let row">
                          
                          
                          <button routerLink="editarCurso"  (click)="OpenDialogEditarCurso(row.idCurso,row)" nbButton ghost status="primary" nbTooltip="Editar Curso" 
                          nbTooltipStatus="primary" >
                            <nb-icon icon="edit-2-outline"></nb-icon>
                          </button>
                        </td>
                      </ng-container> 

                

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </nb-card-body>
          </nb-card>
</div>

