<div class="mont" >
    <h4 style="margin-top: 10px; margin-bottom: 10px;">Nuevo Comunicado</h4>
<mat-dialog-content>

  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.titulo" placeholder="Titulo">
  <textarea nbInput fullWidth placeholder="Mensaje" [(ngModel)]="data.mensaje" ></textarea>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.tipo" placeholder="Tipo de Mensaje">
  <div class="accordions-container row">
    <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">


      <nb-accordion>
        <nb-accordion-item #item>
          <nb-accordion-item-header>
            Docentes
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Desea enviar a todos los docentes del Colegio
            <button nbButton outline status="success" style="float: right;" class="botones" (click)="enviarDocente()">Enviar</button>

          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Curso
          </nb-accordion-item-header>
          <nb-accordion-item-body>
              <nb-select [(ngModel)]="vNivel" (selectedChange)="selectedNivels($event)" placeholder="Niveles" status="primary">
                <nb-option *ngFor="let nivel of Niveles"  value='{{nivel.nivel}}' >{{nivel.nivel}}</nb-option>
              </nb-select>
              <nb-select [(ngModel)]="data.idCurso"  placeholder="Cursos" status="primary">
                <nb-option *ngFor="let curso of Curso"  value='{{curso.idCurso}}' >{{curso.cursos}}</nb-option>
              </nb-select>
            
            <button nbButton outline status="success" style="float: right;" class="botones" (click)="enviarCurso()">Enviar</button>

          </nb-accordion-item-body>
        </nb-accordion-item>

        <nb-accordion-item>
          <nb-accordion-item-header>
            Seleccionar Usuarios
          </nb-accordion-item-header>
          <nb-accordion-item-body>
            Seleccione los usuarios al que desea enviar el comunicado
            <div >
                <span class="subtitulo mont">Seleccione el Docente</span>

                <nb-select [(ngModel)]="data.idCurso" (selectedChange)="selectedRolDocente($event)" placeholder="Docentes" status="primary">
                  <nb-option *ngFor="let usuario of rolUsuario"  value='{{usuario.tipo}}' >{{usuario.nombre}}</nb-option>
                </nb-select>

                <!-- <ng-select class="custom"      style="padding: 1%;background: white;color: yellow"  [items]="rolUsuario"
                bindLabel="nombre"
               autofocus
               [markFirst]="true"
               bindValue="idUsuario"
               notFoundText="No existe Docentes"
               [clearable]="true"
               (change)="selectedRolDocente($event)"

   >
</ng-select> -->

                            <ng-select class="custom"      style="padding: 1%;background: white;color: yellow"  [items]="Profesor"
                                        bindLabel="nombre"
                                       autofocus
                                       [markFirst]="true"
                                       bindValue="idUsuario"
                                       notFoundText="No existe Docentes"
                                       [clearable]="true"
                                       (change)="selectedDocente($event)"

                           >
                 </ng-select>


            </div>
            <button nbButton outline status="success" style="float: right;" class="botones"  (click)="agregarDocente()">Agregar Usuario</button>
            <div class="lists row">

                <div >
                    <nb-card class="list-card">
                      <nb-card-header>Usuarios Agregados</nb-card-header>
                      <nb-card-body>

                        <nb-list>
                          <nb-list-item *ngFor="let docente of data.Receptores">
                            {{ docente.nombre }}
                            <button nbButton ghost status="danger"  (click)="quitarDocente(docente.nombre)" nbTooltip="Eliminar" nbTooltipStatus="danger" ><nb-icon icon="close-circle"></nb-icon></button>
                          </nb-list-item>
                        </nb-list>
                      </nb-card-body>
                    </nb-card>
                  </div>
            </div>

            <button nbButton outline status="success" style="float: right;" class="botones" (click)=enviarUsuarios()>Enviar</button>

          </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
    </div>


  </div>


</mat-dialog-content>
<mat-dialog-actions class="ful ">
    <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Guardar</button>
    <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>
