@import '../../../themes.scss';

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        // background-color: nb-theme(background-basic-color-2);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .grid-h {
    margin-top: 1.5rem;

    &:first-child {
      margin-top: 0;
    }
  }

  .table-responsive {
    margin-top: 1rem;
  }
}
.in{
    width: 100%;
    max-width: 400px;
}
.ta{

    max-width: 900px;
}
.finalb{

    float: right;
}
.dia_cabecera{
    width: 4.5em;
}
.hora{
    width: 4.5em;
}
table{
    width: 100%;
}

tbody tr{
    height: 50px;
}
.inp{
  max-width: 800px;
  margin-bottom: 20px;
}
.subtitulo{
  font-size: 22px;
}


