<div class="content">
    <nb-card class="mont" accent="primary">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Cambio de Contraseña</span>

            </div>

        </nb-card-header>
        <nb-card-body >

            <div class="row show-grid">
                    <div class="col-md-12" >
                        <input class="campo inp" type= "text" nbInput fullWidth status="primary" [(ngModel)]="antigua" placeholder="Antigua Contraseña">
                        <input class="campo inp" type= "text" nbInput fullWidth status="primary" [(ngModel)]="nueva" placeholder="Nueva Contraseña">
                        <input class="campo inp" type= "text" nbInput fullWidth status="primary" [(ngModel)]="renueva" placeholder="Repita Nueva Contraseña">
                        <button class="bot inp" nbButton hero fullWidth size="large" status="primary" (click)="cambiarContrasenia()">Aceptar</button>
                    </div>

            </div>


        </nb-card-body>
    </nb-card>
</div>
