<div class="mont" >
    <h4 >Nuevo Colegio</h4>
<mat-dialog-content>
  <p>Ingrese el nombre del Colegio</p>
  <input class="campo" type="text" nbInput fullWidth status="success" [(ngModel)]="data.nombreColegio" placeholder="Nombre">
  <p>Datos del Director</p>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.nombres" placeholder="Nombres">
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.primerApellido" placeholder="Primer Apellido">
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.segundoApellido" placeholder="Segundo Apellido">
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.ci" placeholder="CI">
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.telefono" placeholder="Teléfono">

</mat-dialog-content>
<mat-dialog-actions class="ful ">
    <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
    <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>
