<nb-layout class="mont">
        <nb-layout-header fixed>
                <div class="logo-container " >
                <img  class="logo" src="../../../assets/images/MerlinLogo1.png" alt="">
                </div>
                <span class="titulo">MERLIN</span>
                <button mat-button [matMenuTriggerFor]="menu">
                        <label *ngIf="cantidad>0"><nb-icon icon="bell-outline" status="danger"></nb-icon>{{cantidad}}</label>
                        <label *ngIf="cantidad==0"><nb-icon icon="bell-off-outline"></nb-icon></label>
                </button>
                <mat-menu #menu="matMenu">
                  <button *ngFor="let row of comunicado" mat-menu-item routerLink="vercomunicado" (click)="cambioEstadoComunicado(row.idComunicado,row.idUsuarioReceptor,row)">
                          <div  >
                                        {{row.titulo}}  
                                </div>               
                          
                                <div  >
                                                   
                          
                                  {{row.titulo}}
                                </div>      

                        </button>
                 
                </mat-menu>
                      <!-- <span>Hola</span> -->
              </nb-layout-header>

              <nb-layout-footer></nb-layout-footer>
              <nb-layout-column><ng-content></ng-content></nb-layout-column>
              <nb-sidebar class="contenido">
                <div class="usu">
                        <!-- <span class="mont">{{RolUsuario}}: {{Usuario}}</span>  -->
                        
                        <mat-chip-list  class="mat-chip-list-stacked usu">
                                <mat-chip color="primary" selected style="margin-top: 0px; margin-bottom: 0px; font-weight: 400; font-size: 14px; text-align: center !important;">{{RolUsuario}} | {{Usuario}}</mat-chip>
                        </mat-chip-list>
                                
                        
                </div>
                <nb-menu *ngIf="rol==1" [items]="superadmin"></nb-menu>
                <nb-menu *ngIf="rol==2" [items]="director"></nb-menu>
                <nb-menu *ngIf="rol==3" [items]="administrativo"></nb-menu>
                <nb-menu *ngIf="rol==4" [items]="estudiante"></nb-menu>
                <nb-menu *ngIf="rol==5" [items]="tutor"></nb-menu>
                <nb-menu *ngIf="rol==6" [items]="maestro"></nb-menu>
                <!-- <nb-menu [items]="configuraciones" class="conf"></nb-menu> -->
        </nb-sidebar>
</nb-layout>
