.logo-container {
    width: 60px;
    
        margin-top: 0px;
        margin-bottom: 0px;
    margin-bottom: 0px !important;
    margin-top: 0px;
    margin-left: 60px !important;
    margin-right: 10px !important;
    border-radius: .55rem;
    padding: 0px;
    background: transparent;
  }
  .logo{
    width: 100%;
    height: 100%;
  }
  .contenido{
    font-family: 'Montserrat',sans-serif !important;
  }
  .usu{
    text-align: center !important;
    font-size: 20px;
  }
  .le{
    display: inline-block;
  }
  .conf{
    margin-top: 50px;
  }
  nb-menu{
    margin-top: 15px !important;
  }