<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    <!-- <h2>Comunicados</h2> -->
    <nb-card class="mont" accent="warning">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Comunicados</span>
                <button class="finalb" routerLink="nuevoComunicado" nbButton outline status="warning" (click)="openDialog()">Nuevo Comunicado</button>
            </div>

        </nb-card-header>
            <nb-card-body class="example-items-col">
              <div class="row show-grid">
                <div class="col-6 col-sm-4">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda:">
                  </mat-form-field>
                </div>
              </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

                    <ng-container matColumnDef="Titulo">
                      <th mat-header-cell *matHeaderCellDef >Titulo</th>
                      <td mat-cell *matCellDef="let row"> {{row.titulo}} </td>
                    </ng-container>
                    <ng-container matColumnDef="Fecha">
                        <th mat-header-cell *matHeaderCellDef >Fecha</th>
                        <td mat-cell *matCellDef="let row"> {{row.fecha}} </td>
                      </ng-container>

                    <ng-container matColumnDef="Ver">
                      <th mat-header-cell *matHeaderCellDef> Ver Detalles</th>
                      <td mat-cell *matCellDef="let row">
                          <button nbButton ghost status="success"  (click)="VerDetalles(row.idComunicado,row.titulo,row.mensaje,row.tipo)" nbTooltip="Ver {{row.titulo}}" nbTooltipStatus="control" ><nb-icon icon="eye-outline"></nb-icon></button>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Eliminar">
                      <th mat-header-cell *matHeaderCellDef> Eliminar</th>
                      <td mat-cell *matCellDef="let row">

                          <button nbButton ghost status="danger"  (click)="CambioEstado(row.idComunicado)" nbTooltip="Eliminar" nbTooltipStatus="danger" ><nb-icon icon="close-outline"></nb-icon></button>
                          <!--<button nbButton ghost status="danger" *ngIf="row.estado==0" (click)="CambioEstado(row.idColegio,row.estado)" nbTooltip="Desea Habiltar?" nbTooltipStatus="danger" ><nb-icon icon="close-circle"></nb-icon>Inhabilitado</button>-->
                      </td>
                    </ng-container>

                     <ng-container matColumnDef="Editar">
                        <th mat-header-cell *matHeaderCellDef> Editar</th>
                        <td mat-cell *matCellDef="let row">
                          <!--<button mat-icon-button matTooltip="Editar {{row.nombreColegio}}" matTooltipClass="tooltip_edit"
                            color="primary" >
                            <mat-icon>edit</mat-icon>
                          </button>-->
                          <button nbButton ghost status="primary" nbTooltip="Editar {{row.titulo}}" 
                          (click)="OpenDialogEditar(row.idComunicado,row.titulo,row.mensaje,row.tipo)" nbTooltipStatus="primary" >
                            <nb-icon icon="edit-2-outline" ></nb-icon>
                          </button>
                          <!-- <button routerLink="updateComunicado"  (click)="OpenDialogEditar(row.idComunicado,row.titulo,row.mensaje,row.tipo)" nbButton ghost status="primary" nbTooltip="Editar {{row.titulo}}" 
                          nbTooltipStatus="primary" >
                            <mat-icon>edit</mat-icon>
                          </button> -->
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </nb-card-body>
          </nb-card>
</div>

