<div class="mont" >
    <h4>Nueva Nota</h4>
    <mat-dialog-content>
    <p>Descripcion</p>
    <input class="campo entrada"  type="text" maxlength=30 nbInput fullWidth status="primary" [(ngModel)]="data.descripcion" placeholder="Descripción (Hasta 30 Caracteres)">

    <mat-select class="campo entrada" nbInput fullWidth status="primary" [(ngModel)]="data.bimestre"  placeholder="Bimestre">
      <mat-option [value]="1">
        1er Bimestre
      </mat-option>
      <mat-option [value]="2">
        2do Bimestre
      </mat-option>
      <mat-option [value]="3">
        3er Bimestre
      </mat-option>
      <mat-option [value]="4">
        4to Bimestre
      </mat-option>
    </mat-select>
    <mat-select class="campo entrada" nbInput fullWidth status="primary" [(ngModel)]="data.tipoNota"  placeholder="Dimensión Nota">
      <mat-option [value]="1">
        Ser
      </mat-option>
      <mat-option [value]="2">
        Saber
      </mat-option>
      <mat-option [value]="3">
        Hacer
      </mat-option>
      <mat-option [value]="4">
        Decidir
      </mat-option>
    </mat-select>


    <input nbInput [nbDatepicker]="date" [(ngModel)]="data.fecha" placeholder="Fecha de Presentación" >
    <nb-datepicker #date ></nb-datepicker>


    </mat-dialog-content>
    <mat-dialog-actions class="ful ">
      <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
      <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
      <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
      <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

    </mat-dialog-actions>
    </div>
