<div class="content">
  <!-- <span>admin-inicio prueba</span> -->
  <h2>Horarios</h2>
  <nb-card class="mont" accent="primary">
      <nb-card-header>
          <div>
            <span class="subtitulo mont">Cursos Asignados</span>
              <!-- <button class="finalb" routerLink="nuevocole" nbButton outline status="success" (click)="openDialog()">Nuevo Colegio</button> -->

          </div>

      </nb-card-header>
      <nb-card-body >

        <button class="curso" *ngIf="curso!=undefined" (click)="volverCursos()">
          <span>Ver Cursos</span>
        </button>
        <div class="cursos" *ngIf="curso==undefined">

            <button class="curso" *ngFor="let curso of cursos" (click)="seleccionCurso(curso)">
              <span>{{curso.grado}} "{{curso.paralelo}}" {{curso.nivel}}</span><br>
              <span>{{curso.nombre}}</span>
            </button>

        </div>
        <!-- <app-asistencia [curso]="curso" *ngIf="curso!=undefined" [asistencias]="asistencias"  [displayedColumns]="displayedColumns"></app-asistencia> -->


      </nb-card-body>
  </nb-card>
</div>
