<div class="mont" >
    <h4 >Nuevo Colegio</h4>
<mat-dialog-content>
  <p>Seleccione el Curso</p>
  <div class="row show-grid">
        <div class="col-6 in">
            <span class="subtitulo mont">Seleccione el nivel</span>
               
                      
                        <ng-select class="custom"  style="padding: 1%;background: white;color: yellow"  [items]="Niveles"
                        bindLabel="nivel"
                        [clearable]="false"
                        bindValue="nivel"
                        dropdownPosition="auto"
                        [searchable]="false"
                        
                        (change)="selectedNivels($event)"
                       >
             </ng-select>

                      
        </div>
        <div class="col-12 in">
                <span class="subtitulo mont">Seleccione el curso</span>
                    <!-- (change)="selectedCurso($event)"-->
                    <ng-select  style="padding: 1%;background: white"    [(ngModel)]="data.idCurso"  [items]="Curso"
                               bindLabel="cursos"
                               autofocus
                             
                               bindValue="idCurso"
                               notFoundText="No existe cursos"
                               [clearable]="clear"

                            
                              
                              >
                    </ng-select>
        </div>
    </div>

  <div >
        <span class="subtitulo mont">Seleccione el Estudiante</span>
           
                  
                    <ng-select class="custom"    [(ngModel)]="docente"  style="padding: 1%;background: white;color: yellow"  [items]="Estudiante"
                                bindLabel="nombre"
                               autofocus
                               [markFirst]="true"
                               bindValue="idUsuario"
                               notFoundText="No existe Docentes"
                               [clearable]="true"
                               (change)="selectEstudiante($event)"
                   
                   >
         </ng-select>

                  
    </div>
    <button nbButton outline status="success" style="float: right;" class="botones"  (click)="agregarEstudiante()">Agregar Estudiante</button>
    <div class="lists row">

        <div >
            <nb-card class="list-card">
              <nb-card-header>Estudiante Pre inscritos</nb-card-header>
              <nb-card-body>
                  
                <nb-list>
                  <nb-list-item *ngFor="let estudiante of data.estudiante">
                    {{ estudiante.nombre }}
                    <button nbButton ghost status="danger"  (click)="quitarEstudiante(estudiante.idEstudiante)" nbTooltip="Eliminar" nbTooltipStatus="danger" ><nb-icon icon="close-circle"></nb-icon></button>
                  </nb-list-item>
                </nb-list>
              </nb-card-body>
            </nb-card>
          </div>
    </div>


</mat-dialog-content>


<mat-dialog-actions class="ful ">
    <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
    <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>
