.container {
    margin-top: 8rem;
    margin-bottom: 0;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .h5{
    font-weight: 500;
    font-size: 1.57em;
    line-height: 1.4em;
  }
  h1{
    font-size: 50px !important;
  
  
  }
  h3{
    font-size: 40px;
  }
  h5{
    color: rgb(221, 221, 221);
    font-size: 1.57em;
  }
  
  .card-plain{
    border-radius: .55rem;
  
    padding: 28px;
    /* background: rgb(88, 21, 50); */
    background: #323259;
    box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
    margin: 0 auto;
    margin-top: 80px;
  }
  .card-form{
    border-radius: .55rem;
    padding-bottom: .7rem;
    width: 100%;
    padding: 60px;
    background: transparent;
    margin: 0 auto;
  
  }
  .logo-container {
    width: 180px;
    margin: 0 auto;
        margin-top: 0px;
        margin-bottom: 0px;
    margin-bottom: 0px !important;
    margin-top: -90px;
    border-radius: .55rem;
    padding: 6px;
    background: transparent;
  }
  
  .image-container {
    width: 100%;
    position: relative;
    padding: 0px;
    background: transparent;
    color: rgb(231, 231, 231);
  }
  
  .header{
    padding-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
  .content{
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .footer{
    padding-bottom: 0px;
    padding: 24px 0;
    text-align: center;
    color: #212121;
  }
  .form-control{
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-bottom: 12px;
  
  
  }
  .logo{
    width: 100%;
    height: 100%;
  }
  .merlin{
    font-size: 60px;
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  }
  .inicio{
    font-size: 24px;
    color: rgb(212, 212, 212);
  }
  .campo{
    margin-bottom: 30px;
    max-width: 420px;
  }
  .campos{
    text-align: center !important;
    
  }
  .bot{
    font-family: 'Montserrat',sans-serif;
    max-width: 420px;
  }
  .separador{
    background: rgb(212, 212, 212);
    width: 200px;
    height: 2p;
  }

  .boton{
    /* background: #49C5B6; */
  
    border-radius: 10px;
    border:none;
    color: white;
    font-size: 1.25em;
    width: 100%;
    height: 2em;
  
  }
  .row-center{
    padding-top: 7%;
  }
  .log{
    padding-top: 2em;
  }
  
  .centered {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-40%, -40%);
  }
  .hidable{
    visibility: collapse;
  }
  mat-form-field{
    width: 100%;
    margin-bottom: 2em;
  }

  nb-card-body {
    overflow: visible;
    padding-top: 0;
  
    > * {
      margin-top: 1rem;
    }
  }
  
  .full-name-inputs,
  .validation-checkboxes {
    display: flex;
    margin: 0 -0.5rem;
  
    > * {
      margin: 0 0.5rem;
    }
  }
  
  .checkbox-radio {
    display: flex;
  }
  
  .demo-items {
    flex: 1 0 33%;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
    .hidable{
      visibility: collapse;
    }
  
  
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
  
    }
    .hidable{
      visibility: collapse;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
    .hidable{
      visibility: collapse;
    }
  
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .hidable{
      visibility: visible;
    }
    .card-plain{
      max-width: 900px;
    }
  }
  @media (min-width: 1500px) {
    .container {
      max-width: 1450px;
    }
    .hidable{
      visibility: visible;
    }
    .card-plain{
      max-width: 900px;
    }
  
  }