
<!-- <div class="container">
  <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-12 col-lg-7 hidable">
          <div class="image-container ">
            <div class="centered">
              <h1>COLEGIOS</h1>
            </div>
          </div>

        </div>
    <div class="col-sm-12 col-md-8 col-lg-5">
      <div class="card-plain">
        <div class="header">
            <h5>Inicio de Sesión</h5>
        </div>
        <div class="content">
          <div >
              <input type="text" name="usuario" placeholder="Usuario" [(ngModel)]="usuario" required> <br>
              <input type="password" name="contrasenia" placeholder="Contrasenia" [(ngModel)]="contrasenia" required><br>
              <button (click)="ingresar()">Ingresar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="container">
  <div class="row justify-content-md-center">

    <div class="col-sm-12 col-md-8 col-lg-10">

      <div class="card-plain">
        <div class="header">
            <div class="logo-container ">
              <img class="logo" src="../../../assets/images/MerlinLogo1.png" alt="">
            </div>
            <span class="titulo merlin">MERLIN</span>



        </div>
        <div class="content">
            <!-- <nb-card>
                <nb-card-body class="example-items-col">
                  <input type="text" nbInput fullWidth placeholder="Default">
                  <input type="text" nbInput fullWidth status="primary" placeholder="Primary">
                  <input type="text" nbInput fullWidth status="info" placeholder="Info">
                  <input type="text" nbInput fullWidth status="success" placeholder="Success">
                  <input type="text" nbInput fullWidth status="warning" placeholder="Warning">
                  <input type="text" nbInput fullWidth status="danger" placeholder="Danger">
                </nb-card-body>
              </nb-card> -->
              <div class="inicio">
                  <span >Inicio de Sesión</span>

                </div>
          <div class="card-form">
              <!-- <input type="text" nbInput fullWidth status="primary" placeholder="Usuario"> -->
              <div class="campos">
                  <input class="campo" type="text" nbInput fullWidth status="primary" [(ngModel)]="usuario" placeholder="Usuario">
                  <input class="campo" type="password" nbInput fullWidth status="primary" [(ngModel)]="contrasenia" placeholder="Contraseña">
                  <button class="bot" nbButton hero fullWidth size="large" status="primary" (click)="ingresar()">Ingresar</button>
                  <!-- <input type="text" name="usuario" placeholder="Usuario" [(ngModel)]="usuario" required><br>
                  <input type="password" name="contrasenia" placeholder="Contrasenia" [(ngModel)]="contrasenia" required><br>
                  <button (click)="ingresar()">Ingresar</button> -->
              </div>
              <!-- <mat-form-field>
                  <input type="email" matInput placeholder="Usuario" #txtCorreo="ngModel" [(ngModel)]="correo" required>
                </mat-form-field>
                <mat-form-field>
                  <input type="password" matInput placeholder="Contraseña" #txtContrasenia="ngModel" [(ngModel)]="contrasenia" required>
                </mat-form-field><br>
                <button mat-raised-button class="boton" color="accent" (click)="ingresar()" >Ingresar</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

