<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    
    <nb-card class="mont" accent="success">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Colegios</span>
                <button class="finalb" routerLink="nuevaMateria" nbButton outline status="success" (click)="openDialog()">Nuevo Colegio</button>
            </div>

        </nb-card-header>
            <nb-card-body class="example-items-col">
              <div class="row show-grid">
                <div class="col-6 col-sm-4">
                  <mat-form-field>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda:">
                  </mat-form-field>
                </div>
              </div>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

                    <ng-container matColumnDef="nombreColegio">
                      <th mat-header-cell *matHeaderCellDef >Colegio</th>
                      <td mat-cell *matCellDef="let row"> {{row.nombreColegio}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Ver">
                      <th mat-header-cell *matHeaderCellDef> Ver Detalles</th>
                      <td mat-cell *matCellDef="let row">
                          <button nbButton ghost status="primary"  (click)="VerDetalles(row.idColegio)" nbTooltip="Ver {{row.nombreColegio}}" nbTooltipStatus="control" ><nb-icon icon="eye-outline"></nb-icon></button>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="Estado">
                      <th mat-header-cell *matHeaderCellDef> Estado</th>
                      <td mat-cell *matCellDef="let row">

                          <button nbButton ghost status="success" *ngIf="row.estado==1" (click)="CambioEstado(row.idColegio,row.estado)" nbTooltip="Inhabilitar {{row.nombreColegio}}" nbTooltipStatus="danger" ><nb-icon icon="checkmark-outline"></nb-icon>Habilitado</button>
                          <button nbButton ghost status="danger" *ngIf="row.estado==0" (click)="CambioEstado(row.idColegio,row.estado)" nbTooltip="Habilitar {{row.nombreColegio}}" nbTooltipStatus="success" ><nb-icon icon="close-outline"></nb-icon>Inhabilitado</button>
                      </td>
                    </ng-container>

                     <ng-container matColumnDef="Editar">
                        <th mat-header-cell *matHeaderCellDef> Editar</th>
                        <td mat-cell *matCellDef="let row">
                          <!--<button mat-icon-button matTooltip="Editar {{row.nombreColegio}}" matTooltipClass="tooltip_edit"
                            color="primary" >
                            <mat-icon>edit</mat-icon>
                          </button>-->
                          <button nbButton ghost status="primary" (click)="OpenDialogEditar(row.idColegio,row.nombreColegio)" nbTooltip="Editar {{row.nombreColegio}}" nbTooltipStatus="primary">
                            <nb-icon icon="edit-2-outline"></nb-icon>
                          </button>
                          <!-- <button routerLink="editarColegio"  (click)="OpenDialogEditar(row.idColegio,row.nombreColegio)" nbButton ghost status="primary" nbTooltip="Editar {{row.nombreColegio}}" 
                          nbTooltipStatus="primary" >
                            <mat-icon>edit</mat-icon>
                          </button> -->
                        </td>
                      </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </nb-card-body>
          </nb-card>
</div>

