.content{
    font-family: 'Montserrat', sans-serif;
  }
.ful{
    width: 100%;
    display: inline-block; 
}
.der{
    text-align: right;
}
.block {
    width: auto;
    display: inline-block; 
}
.contenido{
    background: black; 
}
.campo{
    width: 100%;
}
.mont{
    font-family: 'Montserrat', sans-serif;
}
h4{
    font-family: 'Montserrat', sans-serif;
}
.entrada{
    margin-bottom: 25px;
}
.botones{
    margin-left: 15px;
}