<div class="mont content" > 
    <h4 style="margin-top: 10px; margin-bottom: 10px;">Editar Colegio</h4>
<mat-dialog-content>
  <p>Ingrese el nombre del Colegio</p>
  <input class="campo" style="margin-bottom: 60px;" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.nombreColegio" placeholder="Nombre">
 
  
</mat-dialog-content>
<mat-dialog-actions class="ful ">
    <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
    <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->
    
</mat-dialog-actions>
</div>
