@import '../../../themes.scss';
.content{
  font-family: 'Montserrat', sans-serif;
}
h2{
  margin-top: 0px;
}
.finalb{

  float: right;
}
.subtitulo{
  font-size: 22px;
}
table {
  border: 1px solid black;
}
.tabla-asistencia{
  margin: 0;
  padding: 0px;
  border: none;
  background-color: #1B1B38;
}
.asistencia{
  background-color: #1B1B38;
  border-radius: 1px;
  border: none;
  color: white;
  width: 20px;
  margin: 0px;
  padding: 0px;
  border-radius:0px;
}
.atraso{
  border: 1px solid yellow;
  //color: yellow;
}

.licencia{
  border: 1px solid blue;
  //color: blue;
}

.falta{
  border: 1px solid red;
  //color: red;
}

.presente{
  border: 1px solid green;
  //color: green;
}

.nueva{
  border: 1px solid rgb(140, 0, 255);
}

table {
  width: 100%;
}
mat-form-field{
  max-width: 700px;
  width: 100%;
}
