<div class="content">
        <!-- <span>admin-inicio prueba</span> -->
        <h2>Notas</h2>
        
        <div class="row">
        <nb-card class="mont">
                <nb-card-header>
                        <div>
                          <span class="subtitulo mont">Seleccione el Estudiante</span>
                          <nb-select [(ngModel)]="idEstudiante"  (selectedChange)="cargarInformacion($event)" placeholder="Estudiante" status="primary">
                                <nb-option *ngFor="let est of Estudiante"  value='{{est.idEstudiante}}' >{{est.nombre }}</nb-option>
                              </nb-select>
       
                        </div>
                    </nb-card-header>
                    <nb-card-body *ngIf="asistencias!=undefined" class="example-items-col">
                            <nb-card>
                                    <div class="col-12 in" >
                                      <span>Rango de Asistencias: </span>
                                      <input nbInput [nbDatepicker]="rangepicker" [(ngModel)]="rango" >
                                      <nb-rangepicker #rangepicker ></nb-rangepicker>
                                      <button nbButton outline status="success" (click)="rangoFechas()">Aplicar</button>
                                      
                                  </div>
                                  </nb-card>
                                  <table class="mat-elevation-z2" >
                                      <tr>
                                        <th rowspan="2"><span>Materias</span></th>
                                        <th *ngFor="let mes of displayedColumns"  [attr.colspan]="mes.nFechas" ><span>{{mes.mes}}</span></th>
                                       
                                      </tr>
                                      <tr>
                                        <th *ngFor="let fecha of asistencias.fechas" style="width: 30px; text-align: center;" ><span>{{fecha.dia}}</span></th>
                                      </tr>
                                      <tr *ngFor="let asistencia of asistencias.estudiantes">
                                        <td>{{asistencia.materia}}</td>
                                        <td *ngFor="let fechas of asistencia.asistencias" class="tabla-asistencia" [ngSwitch]="fechas.estado" >
                                            <input value="P" class="asistencia presente"
                                                   *ngSwitchCase="1" type="text" maxlength="1" [disabled]="true"
                                                   >
                                            <input value="F" class="asistencia falta"
                                                   *ngSwitchCase="2" type="text" maxlength="1" [disabled]="true"
                                                  >
                                            <input value="L" class="asistencia licencia"
                                                   *ngSwitchCase="3" type="text" maxlength="1"  [disabled]="true" 
                                                   >
                                            <input value="A" class="asistencia atraso"
                                                   *ngSwitchCase="4" type="text" maxlength="1"  [disabled]="true" 
                                                   >
                                            <input *ngSwitchDefault type="text" class="asistencia nueva" maxlength="1"
                                            [disabled]="true"
                                                   >
                                        </td>
                                      </tr>
                                  
                                  
                                  
                                  
                                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>   




                        </nb-card-body>
             
                 
        </nb-card>
    </div>
    
    </div>
    
    