<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    <h2>Notas</h2>
    
    <div class="row">
    <nb-card class="mont">

            
            <nb-card-header>
                    <div>
                      <span class="subtitulo mont">Filtros de Notass</span>
                        
                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col">
                    <div class="row show-grid">
                    <div class="col-6 in">
                        <span class="subtitulo mont">Seleccione el nivel</span>

                            <nb-select [(ngModel)]="idCategoria"  placeholder="Categorias" status="primary">
                            <nb-option *ngFor="let cate of Categoria"  value='{{cate.idCategoria}}' >{{cate.descripcionPeriodo }} {{cate.numeroPeriodo}}</nb-option>
                          </nb-select>
                          
                                  
                                     <!-- <ng-select class="custom"  style="padding: 1%;background: white;color: yellow"  [items]="Niveles"
                                    bindLabel="nivel"
                                    [clearable]="false"
                                    bindValue="nivel"
                                    [searchable]="false"
                                   
                                    (change)="selectedNivels($event)"
                                   > 
                         </ng-select> -->

                                  
                    </div>
                    <div class="col-12 in">
                        
                        <nb-select [(ngModel)]="idMateria" (selectedChange)="cargarNotas($event)" placeholder="Materias" status="primary">
                            <nb-option *ngFor="let ma of Materia"  value='{{ma.idMateria}}' >{{ ma.nombre}}</nb-option>
                          </nb-select>
                    </div>
                </div>
                    </nb-card-body>
         
             
    </nb-card>
</div>
    <nb-card>
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Notas</span>
              
               
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-col">
                <div class="row show-grid">
                        <div class="col-6 col-sm-4">
                          <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Busqueda:">
                          </mat-form-field>
                        </div>
                      </div>
         
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>

                   
                    <ng-container matColumnDef="Materia">
                        <th mat-header-cell *matHeaderCellDef >Materia</th>
                        <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                      </ng-container>

                    <ng-container matColumnDef="Descripcion">
                      <th mat-header-cell *matHeaderCellDef> Descripcion</th>
                  
                        <td mat-cell *matCellDef="let row"> {{row.descripcion}} </td>
                     
                    </ng-container>
                  
                      <ng-container matColumnDef="Nota">
                        <th mat-header-cell *matHeaderCellDef >Nota</th>
                        <td mat-cell *matCellDef="let row"> 
                                {{row.nota}} 
                        </td>
                      </ng-container>

                     <ng-container matColumnDef="Tipo">
                        <th mat-header-cell *matHeaderCellDef> Tipo</th>
                        <td mat-cell *matCellDef="let row">
                               <label *ngIf="row.tipo==1">Ser</label>
                               <label *ngIf="row.tipo==2">Saber</label>
                               <label *ngIf="row.tipo==3">Hacer</label>
                               <label *ngIf="row.tipo==4">Decidir</label>
                        </td>
                      </ng-container> 
                      <ng-container matColumnDef="Categoria">
                            <th mat-header-cell *matHeaderCellDef> Categoria</th>
                            <td mat-cell *matCellDef="let row">
                                    {{row.categoria}} 
                            </td>
                          </ng-container> 
    
                          <ng-container matColumnDef="Fecha">
                                <th mat-header-cell *matHeaderCellDef>Fecha</th>
                                <td mat-cell *matCellDef="let row">
                                        {{row.dia}} / {{row.mes}} 
                                </td>
                              </ng-container> 
                

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </nb-card-body>
          </nb-card>
</div>

