<div class="mont" >
<h4 *ngIf="data.nuevo">Nuevo Usuario</h4>
<h4 *ngIf="!data.nuevo">Editar Usuario</h4>
<mat-dialog-content>
<p>Datos Personales</p>
<mat-select *ngIf="data.nuevo" class="campo entrada" nbInput fullWidth status="primary" [(ngModel)]="data.rol"  placeholder="Rol">
  <mat-option *ngFor="let rol of roles" [value]="rol.IdRol">
    {{rol.Rol}}
  </mat-option>
</mat-select>
<input class="campo entrada" *ngIf="data.rol || !data.nuevo" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.nombres" placeholder="Nombres">
<input class="campo entrada" *ngIf="data.rol || !data.nuevo" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.primerApellido" placeholder="Primer Apellido">
<input class="campo entrada" *ngIf="data.rol || !data.nuevo" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.segundoApellido" placeholder="Segundo Apellido">
<input class="campo entrada" *ngIf="data.rol || !data.nuevo" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.ci" placeholder="CI">
<input class="campo entrada" *ngIf="data.rol || !data.nuevo" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.telefono" placeholder="Teléfono">
<input  *ngIf="data.rol==4 || (!data.nuevo && data.rol==4)" class="campo entrada"  type = "text"
       placeholder = "Tutor"   matInput (input)="BuscarTutores($event.target.value)"
       [matAutocomplete] = "auto"  >
<mat-autocomplete  #auto = "matAutocomplete" >
   <mat-option *ngFor = "let tutor of tutores" matInput (onSelectionChange)="Asignar(tutor)">
      {{tutor.nombre}}
   </mat-option>
</mat-autocomplete>
<span *ngIf="data.rol==4 || (!data.nuevo && data.rol==4)">Tutores Estudiante</span><br>
<div>
  <div *ngFor="let tutor of data.tutores">
    <span>{{tutor.nombre}}</span>
    <button nbButton outline status="danger" (click)="Quitar(tutor)">Quitar</button>
  </div>
</div>
</mat-dialog-content>
<mat-dialog-actions class="ful ">
  <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
  <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
  <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
  <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>
