<div class="mont" >
        <h4 style="margin-bottom: 16px; margin-top: 0px; font-weight: 500;">Nueva Materia</h4>
    <mat-dialog-content>
      <p style=" font-weight: 400; font-size: 18px;">Seleccione Nivel y Curso</p>
      <div class="row show-grid">
            <div class="col-6 in">
                
                   
                <nb-select [(ngModel)]="vNivel" fullWidth   (selectedChange)="selectedNivels($event)" placeholder="Niveles" status="primary" 
                style="margin-bottom: 18px; margin-top: 0px; ">
                  <nb-option *ngFor="let nivel of Niveles"  value='{{nivel.nivel}}' >{{nivel.nivel}}</nb-option>
                </nb-select>
                           

                          
            </div>
            <div class="col-12 in">
                   
                        <!-- (change)="selectedCurso($event)"-->
                        <nb-select [(ngModel)]="idCurso"  fullWidth  placeholder="Cursos" status="primary"
                        style="margin-bottom: 18px; margin-top: 0px; ">
                          <nb-option *ngFor="let curso of Curso" value='{{curso.idCurso}}' >{{curso.cursos}}</nb-option>
                        </nb-select>
            </div>
        </div>
      <p>Materia</p>
      <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="nombreMateria" placeholder="Materia">
    
      <div >
            <span class="subtitulo mont">Seleccione el Docente</span>
               
            <nb-select [(ngModel)]="docente" fullWidth   (selectedChange)="selectedNivels($event)" placeholder="Profesores" status="primary" 
            style="margin-bottom: 18px; margin-top: 0px; ">
              <nb-option *ngFor="let prof of Profesor"  value='{{prof.idUsuario}}' >{{prof.nombre}}</nb-option>
            </nb-select>          

            <!-- <ng-select class="custom"    [(ngModel)]="docente"  style="padding: 1%;background: white;color: yellow"  [items]="Profesor"
                        bindLabel="nombre"
                        autofocus
                        [markFirst]="true"
                        bindValue="idUsuario"
                        notFoundText="No existe Docentes"
                        [clearable]="true">
             </ng-select> -->

                      
        </div>
        <button nbButton outline status="success" style="float: right;" class="botones"  (click)="agregarMateria()">Agregar Materia</button>
        <div class="lists row">

            <div >
                <nb-card class="list-card">
                  <nb-card-header>Materias Agragadas</nb-card-header>
                  <nb-card-body>
                      
                    <nb-list>
                      <nb-list-item *ngFor="let materia of data.materia">
                        {{ materia.Nombre }}
                        <button nbButton ghost status="danger"  (click)="quitarMateria(materia.Nombre)" nbTooltip="Quitar de la lista" nbTooltipStatus="danger" ><nb-icon icon="close-outline"></nb-icon></button>
                      </nb-list-item>
                    </nb-list>
                  </nb-card-body>
                </nb-card>
              </div>
        </div>


    </mat-dialog-content>


    <mat-dialog-actions class="ful ">
        <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Aceptar</button>
        <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
        <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
        <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->
    
    </mat-dialog-actions>
    </div>
    