
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat, monospace',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mat-base-typography($custom-typography);
@include mat-core($custom-typography);
// Dark bg
$dark-background:     #323259;;
$dark-bg-lighter-5:   lighten($dark-background, 5%);
$dark-bg-lighter-10:  lighten($dark-background, 10%);
$dark-bg-lighter-20:  lighten($dark-background, 20%);
$dark-bg-lighter-30:  lighten($dark-background, 30%);
$light-bg-alpha-4:    rgba(#fafafa, 0.04);
$light-bg-alpha-12:   rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background:               $dark-background,
  status-bar:               $dark-bg-lighter-20,
  app-bar:                  $dark-bg-lighter-5,
  hover:                    $light-bg-alpha-4,
  card:                     $dark-bg-lighter-5,
  dialog:                   $dark-bg-lighter-5,
  disabled-button:          $light-bg-alpha-12,
  raised-button:            $dark-bg-lighter-5,
  focused-button:           $light-focused,
  selected-button:          $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle:   $dark-bg-lighter-10,
  unselected-chip:          $dark-bg-lighter-20,
  disabled-list-option:     $dark-bg-lighter-10,
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$merlin-primary: mat-palette($my-primary);
$merlin-accent: mat-palette($my-accent);

// The warn palette is optional (defaults to red).
$merlin-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$merlin-theme: mat-dark-theme($merlin-primary, $merlin-accent, $merlin-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($merlin-theme);

/* You can add global styles to this file, and also import other style files */
@import 'themes';

@import '~@nebular/theme/styles/globals';
// @import '~nebular-icons/css/nebular-icons.css';

@include nb-install() {
  @include nb-theme-global();
};
html,
body{
  font-family: 'Montserrat', sans-serif;
  background: #1B1B38;
}
.titulo{
  font-family: 'Gochi Hand', cursive;
  font-size: 40px;
}

h2,h1,h3,h5,h6{
  font-family: 'Montserrat', sans-serif !important;
}
.mont{
  font-family: 'Montserrat', sans-serif !important;
}
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
