<div class="mont" >
    <h4 >Modificar Comunicado</h4>
<mat-dialog-content>
 
  <p>Datos del Comunicado</p>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.titulo" placeholder="Titulo">
  <textarea nbInput fullWidth placeholder="Textarea" [(ngModel)]="data.mensaje"></textarea>
  <input class="campo entrada" type="text" nbInput fullWidth status="primary" [(ngModel)]="data.tipo" placeholder="Tipo de Mensaje">
 
  
 
</mat-dialog-content>
<mat-dialog-actions class="ful ">
    <button nbButton outline status="success" style="float: right;" class="botones" [mat-dialog-close]="data">Guardar</button>
    <button nbButton outline status="danger" style="float: right;" class="botones" (click)="onNoClick()">Cancelar</button>
    <!-- <button mat-raised-button style="float: right;" [mat-dialog-close]="data" cdkFocusInitial>Aceptar</button> -->
    <!-- <button mat-button style="float: right;" (click)="onNoClick()">Cancelar</button> -->

</mat-dialog-actions>
</div>
