<div class="content">
    <div style="text-align: left;"> 
        <h4 class="le" style="margin-top: 0px; margin-bottom: 10px; font-weight: 500; font-size: 28px;">{{curso.nombre}} | </h4>
        <h5 class="le" style="margin-top: 0px; margin-bottom: 18px;">{{curso.grado}} '{{curso.paralelo}}' {{curso.nivel}}</h5>
      </div>
    
      <h6 style="margin-top: 0px; margin-bottom: 16px; font-weight: 400;">Agregar Nota</h6>
      
      
      <button  nbButton outline status="info"  (click)="NuevaTarea()">Agregar Nota</button>
    
      <h6 style="margin-top: 26px; margin-bottom: 16px; font-weight: 400;">Tabla de Notas</h6>

      <table class="mat-elevation-z2" >
          <tr>
            <th rowspan="3"><span>Estudiantes</span></th>
            <ng-container *ngFor="let bimestre of categoriasNotas" >
                <ng-container *ngIf="bimestre.columnas>0">
                    <th [attr.colspan]="bimestre.columnas" class="texto-centro">{{bimestre.descripcionPeriodo}} {{bimestre.numeroPeriodo}}</th>
                </ng-container>
              </ng-container>
        
          </tr>
          <tr>
              <ng-container *ngFor="let bimestre of dimensionesEvaluacion" >
                <ng-container *ngFor="let dim of bimestre">
                  <th *ngIf="dim.columnas>0" [attr.colspan]="dim.columnas" class="texto-centro">{{dim.dimension}}</th>
                </ng-container>
              </ng-container>
        
          </tr>
        
          <tr>
              <th *ngFor="let notas of server.notas"><p class="vertical-text texto-derecha">{{notas.descripcion}} - {{notas.dia}}/{{notas.mes}}</p></th>
          </tr>
          <tr *ngFor="let est of server.estudiantes">
              <td class="texto-centro">{{est.estudiante}}</td>
              <td *ngFor="let nota of est.notas"  >
                <ng-container *ngIf="nota.nota>50; then aprobado; else reprobado"></ng-container>
                <ng-template #aprobado >
                    <input value="{{nota.nota}}" class="nota aprobado"
                    type="text" maxlength="3"
                    (click)="notaAntigua(est.idEstudiante, nota.idNota, $event.target.value, $event.target)"
                    (input)="cambioNotaInterfaz($event.target.value, $event.target)"
                    (focusout)="cambioNotaServidor(est.idEstudiante, nota.idNota, $event.target.value, $event.target)">
                </ng-template>
                <ng-template #reprobado  >
                    <input value="{{nota.nota}}" class="nota reprobado"
                    type="text" maxlength="3"
                    (click)="notaAntigua(est.idEstudiante, nota.idNota,$event.target.value, $event.target)"
                    (input)="cambioNotaInterfaz($event.target.value, $event.target)"
                    (focusout)="cambioNotaServidor(est.idEstudiante, nota.idNota, $event.target.value, $event.target)">
                </ng-template>
        
        
        
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
</div>





