.vertical-text {
  writing-mode: sideways-lr;
 }

 .vertical-text span {
  text-align: center;
   text-orientation: upright;
 }

 table {
  // border: rgb(0, 0, 0) 3px solid;
  width: 100%;
  max-width: 1500px;
}
 .texto-centro{
  text-align: left;
  margin-top: 10px;
  scroll-margin-bottom: 10px;
 }
 .texto-derecha{
  vertical-align: text-top;
  vertical-align: top;

 }
 .nota{
  background-color: #1B1B38;
  border-radius: 1px;
  border: none;
  color: white;
  width: 30px;
  margin: 0px;
  padding: 0px;
  border-radius:0px;
  text-align: center;
}
.aprobado{
  border: 1px solid rgba(0, 214, 143, 0.678);
  border-radius: 2px;
  //color: yellow;
}
.reprobado{
  border: 1px solid rgba(255, 61, 113, 0.651);
  border-radius: 2px;
  //color: yellow;
}
.content{
  font-family: 'Montserrat', sans-serif !important;
}
.le{
  display: inline-block;
}
