<div class="content">
    <!-- <span>admin-inicio prueba</span> -->
    <h2>Materias del Colegio</h2>

    <div class="row">
    <nb-card class="mont">


            <nb-card-header>
                    <div>
                      <span class="subtitulo mont">Filtros de Materia por Curso</span>

                    </div>
                </nb-card-header>
                <nb-card-body class="example-items-col">
                    <div class="row show-grid">
                    <div class="col-6 in">
                        <span class="subtitulo mont">Seleccione el nivel</span>
                        <nb-select [(ngModel)]="vNivel" (selectedChange)="selectedNivels($event)" placeholder="Niveles" status="primary">
                            <nb-option *ngFor="let nivel of Niveles"  value='{{nivel.nivel}}' >{{nivel.nivel}}</nb-option>
                          </nb-select>

                                    <!-- <ng-select class="custom"  style="padding: 1%;background: white;color: yellow"  [items]="Niveles"
                                    bindLabel="nivel"
                                    [clearable]="false"
                                    bindValue="nivel"
                                    [searchable]="false"

                                    (change)="selectedNivels($event)"
                                   >
                         </ng-select> -->


                    </div>
                    <div class="col-12 in">
                      <nb-select [(ngModel)]="vCurso" (selectedChange)="selectedCurso($event)" placeholder="Cursos" status="primary">
                        <nb-option *ngFor="let curso of Curso"  value='{{curso.idCurso}}' >{{curso.cursos}}</nb-option>
                      </nb-select>

                                <!-- <ng-select  style="padding: 1%;background: white"  [items]="Curso"
                                           bindLabel="cursos"
                                           autofocus
                                           bindValue="idCurso"
                                           [clearable]="clear"
                                           (change)="selectedCurso($event)"
                                          >
                                </ng-select> -->
                    </div>
                </div>
                    </nb-card-body>


    </nb-card>

</div>
    <nb-card>
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Estudiantes</span>

                <button class="finalb" routerLink="nuevaInscripcion" nbButton outline status="success" (click)="openDialog()">Nueva Inscripcion</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-col">

                <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" matSort>


                    <ng-container matColumnDef="Estudiante">
                        <th mat-header-cell *matHeaderCellDef >Estudiante</th>
                        <td mat-cell *matCellDef="let row"> {{row.estudiante}} </td>
                      </ng-container>

                    <ng-container matColumnDef="CI">
                      <th mat-header-cell *matHeaderCellDef> CI</th>

                        <td mat-cell *matCellDef="let row"> {{row.ci}} </td>

                    </ng-container>

                      <ng-container matColumnDef="Telefono">
                        <th mat-header-cell *matHeaderCellDef >Telefono</th>
                        <td mat-cell *matCellDef="let row">
                            {{row.telefono}}
                        </td>
                      </ng-container>
                      <ng-container matColumnDef="Estado">
                        <th mat-header-cell *matHeaderCellDef >Estado</th>
                        <td mat-cell *matCellDef="let row">

                            <button nbButton ghost status="success" *ngIf="row.estado==1" (click)="CambioEstado(row.idCursoEstudiante,1)" nbTooltip="Desea Inhabilitar?" nbTooltipStatus="success" ><nb-icon icon="checkmark-circle"></nb-icon>Habilitado</button>
                            <button nbButton ghost status="danger" *ngIf="row.estado==0" (click)="CambioEstado(row.idCursoEstudiante,0)" nbTooltip="Desea Habiltar?" nbTooltipStatus="danger" ><nb-icon icon="close-circle"></nb-icon>Inhabilitado</button>
                        </td>
                      </ng-container>




                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>

                  <mat-paginator [pageSizeOptions]="[10, 25, 50]"></mat-paginator>
            </nb-card-body>
          </nb-card>
</div>

