

.selected-value {
    margin: 15px 0;
  }
  .in{
    width: 100%;
    max-width: 400px;
}
.ta{
    
    max-width: 900px;
}
.finalb{
    
    float: right;
}
.dia_cabecera{
    width: 4.5em;
}
.hora{
    width: 4.5em;
}
table{
    width: 100%;
    max-width: 500px;
}

tbody tr{
    height: 50px;
}

mat-nav-list{
  max-width: 500px;
}
td{
    text-align: left;
    
}
th{
    text-align: left;
}
.subtitulo{
    font-size: 20px;
  }
  .le{
      display: inline-block;
  }