<div class="content">
    <nb-card class="mont" accent="info" *ngIf="idCurso==null">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Horarios | Cursos</span>
                <!-- <button class="finalb" routerLink="nuevocole" nbButton outline status="success" (click)="openDialog()">Nuevo Colegio</button> -->
  
            </div>
  
        </nb-card-header>
        <nb-card-body >
            <table >
              <tr>
                <th >Nivel</th>
                <th >Curso</th>
                
              </tr>
            
              <tr *ngFor="let curso of cursos">
                <td>{{curso.nivel}}</td>
                <td>
                  <button nbButton ghost status="info" shape="semi-round"  (click)="seleccionCurso(curso)" nbTooltip="Horario {{curso.grado}}'{{curso.paralelo}}'" 
                          nbTooltipStatus="control">
                          <nb-icon icon="layout-outline"></nb-icon>{{curso.grado}}'{{curso.paralelo}}'
                  </button>
                </td>
                
              </tr>
            </table>
  
         
  
        </nb-card-body>
    </nb-card>

    <nb-card *ngIf="idCurso!=null" class="mont" accent="info">
        <nb-card-header>
            <div>
              <span class="subtitulo mont">Horario</span>
              <button class="le" *ngIf="idCurso!=null" nbButton ghost status="info" shape="semi-round" size="large" (click)="volverCursos()" 
                      style="padding:5px; float: right;">
                  <nb-icon icon="arrow-back"></nb-icon>Volver a Cursos
              </button>
                <!-- <button class="finalb" routerLink="nuevocole" nbButton outline status="success" (click)="openDialog()">Nuevo Colegio</button> -->

            </div>

        </nb-card-header>
        <nb-card-body >
            <h5 style="margin-bottom: 20px; margin-top: 0;">Días:</h5>
            <mat-button-toggle-group [(ngModel)]="diaValue"  (click)="filtrarHorarios()">
                <mat-button-toggle value="1" aria-label="Lunes" >
                  Lunes
                </mat-button-toggle>
                <mat-button-toggle value="2" aria-label="Martes" >
                  Martes
                </mat-button-toggle>
                <mat-button-toggle value="3" aria-label="Miércoles" >
                  Miércoles
                </mat-button-toggle>
                <mat-button-toggle value="4" aria-label="Jueves" >
                  Jueves
                </mat-button-toggle>
                <mat-button-toggle value="5" aria-label="Viernes">
                Viernes
                </mat-button-toggle>
                <mat-button-toggle value="6" aria-label="Sábado" >
                Sábado
                </mat-button-toggle>
              </mat-button-toggle-group>
              
              
              <!-- <div class="selected-value">Selected value: {{diaValue}}</div> -->
              <br>
              <button  nbButton outline status="info" (click)=" openDialog()" style="margin-bottom: 0px; margin-top: 20px;">
                <nb-icon icon="plus"></nb-icon>Agregar Materia
              </button>
            <h5 style="margin-bottom: 0px; margin-top: 20px;">Materias:</h5>
            

            <mat-nav-list *ngIf="horarios?.length > 0 && diaValue!=null" >
                <mat-list-item *ngFor="let horario of horarios">
                    <h4 mat-line><b>{{horario.nombre}}</b></h4>
                    <p mat-line>{{horario.horaInicio}}  - {{horario.horaFin}}</p>
                    
                    <button nbButton ghost status="danger" (click)="removerMateria(horario.Id)"  nbTooltip="Eliminar Materia" nbTooltipStatus="control" >
                      <nb-icon icon="close"></nb-icon>
                    </button>
                    
                </mat-list-item>
            </mat-nav-list>

            <h5 style="margin-bottom: 20px; margin-top: 20px;">Vista Horario:</h5>
            <div class="ta">
                <table style="max-width: 1300px !important;">
                    <thead>
                        <tr>
                            <th class="hora">Hora</th>
                            <th class="dia_cabecera">Lunes</th>
                            <th class="dia_cabecera">Martes</th>
                            <th class="dia_cabecera">Miércoles</th>
                            <th class="dia_cabecera">Jueves</th>
                            <th class="dia_cabecera">Viernes</th>
                            <th class="dia_cabecera">Sábado</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let element of lista">
                                <td>{{element.horaInicio}} - {{element.horaFin}}</td>
                                <td [style.backgroundColor]="element.lunes">{{element.mLunes}}</td>
                                <td [style.backgroundColor]="element.martes">{{element.mMartes}}</td>
                                <td [style.backgroundColor]="element.miercoles">{{element.mMiercoles}}</td>
                                <td [style.backgroundColor]="element.jueves">{{element.mJueves}}</td>
                                <td [style.backgroundColor]="element.viernes">{{element.mViernes}}</td>
                                <td [style.backgroundColor]="element.sabado">{{element.mSabado}}</td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
           
        </nb-card-body>
    </nb-card>
</div>
